	.teste1{
		color: blue;
		font-family: Arial, Helvetica, sans-serif; /* Caso não tenha as primeiras fontes colocar mais de uma auxiliar sempre procurar as proximas */
	}

	.teste2{
		color: #3042;
	}
	.teste3{
		color: rgb(0, 0, 255, 1.0);
	}
	.teste4{
		color: rgba(0, 0, 255, 0.5);
	}

	.teste5{
		font-family: "Roboto", sans-serif;
  		font-weight: 100;
  		font-style: normal;
	}