body{
	font-family: 'roboto', sans-serif;
	height: 300vh;
}

.container{
	background-color: #121212;
	color: #FFFFFF;
	width: 700px;
	margin: auto;
	padding: 30px;
	border: 5px solid red;
	border-radius: 60px;
}

/* 
1. por padrão temos o static ou seja estatico. Ele fica no lugar que está
2. relative: O elemento é posicionado em relação a sua posição normal, mas compensação ele tem umas posições a mais que a gente pode manipular
3. absolute: É posicionado em relação ao seu elemento pai mais proximo que possui relative se não tiver relative é posicionado em relação ao body
4. fixed: é posicionado em relação ao viewport (é a area no browser onde aparece seu site) sempre fica na mesma poxição mesmo se a página tem scroll
*/

.area{
	position: fixed; /* Quando defino que um component é fixed não importa quanto role ele fica sempre no mesmo lugar */
	border: 2px solid green;
	width: 300px;
	top: 220px; /* Top funciona em fixed, assim como right, left e bottom */
	right: 300px;
	height: 200px;
}

.area-absolute{
	position: absolute; /* Como a essa classe está dentro de da aba fixed tudo que é aplicado nela reflete na absolute. caso */
	border: 2px solid blue;

}