body{
	height: 180vh;
}

.container{
	background-color: #121212;
	color: #FFFFFF;

	height: 400px;
	margin: 50px;

	display: flex;
	flex-direction: row;
	align-items: flex-end; /* Quando o flex direction tem como base o row o align-items consegue definir o alinhamento da vertical (cima para baixo) de um item*/
}

.area{
	height: 100px;
	width: 100px;

}

.item-1{
	background-color: red;
}

.item-2{
	background-color: greenyellow;
}

.item-3{
	background-color: darkorange;
}