body{
	height: 180vh;
}

.container{
	background: #121212;
	color: #FFFFFF;

	height: 400px;
	margin: 50px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.area{
	height: 100px;
	width: 100px;
}

.item-1{
	background-color: darkgoldenrod;
	align-self: flex-start; /* permite fazer a alteração especifica de um item para ter um comportamento individual quando comparado com os outros */
}

.item-2{
	background-color: brown;
}

.item-3{
	background-color: orange;
	align-self: flex-end;
}