body{
	height: 180vh;
}

.container{
	background: #121212;
	color: #FFFFFF;

	height: 400px;
	margin: 50px;

	display: flex;
	flex-direction: row;
}


.area{
	height: 100px;
	width: 100px;
}

.item-1{
	background-color: darkgoldenrod;
}

.item-2{
	background-color: brown;
}

.item-3{
	background-color: orange;
}